*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: justify;
    margin: 0;
}

p{
    font-size: 18px;
}

body {
    background-color: #fffbf2;
}

#container{
    background-color: #fffbf2;
}

header{
    width: 100%;
    background-color: #bb1f43;
    height: 80px;
    display: flex;
    padding: 0.5rem;
    align-self: center;

}

.encabezado {
    width: 50%;
    color: white;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
}

.nav{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.logo{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-left: 15px;    
}

.titulo{
    position: absolute;
    top: 35px;
    left: 100px;
}

.item {
    color: snow;
    font-size: 25px;
    text-decoration: none;
    margin-right: 15px;
}


.nav:hover{
    color: #fdc7e5;
}


.bg-img{
    background: url("img/pastel2.jpg") center center;
    background-size: cover;
    width: 100%;
    height: 600px;
    opacity: 0.85;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

button{
    font-size: 20px;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 25px;
    border: 2px solid rgba(194, 139, 139, 0.5);
    color: rgb(88, 88, 88);
    background-color: snow;
    color: #bb1f43;
}
button:hover{
    background-color: #bb1f43;
    color: snow;
}

.main{
    width: 100%;
    display: flex;
    align-items: center;
    align-content: center;
}

.main a {
    color: #bb1f43;
}

.main a:hover {
    color: snow;
}

.main h1 {
    color: snow;
    font-size: 60px;
    font-weight: 600;
    text-shadow: 1px 1px 2px #513724;
    letter-spacing: 5px;
}

.main p {
    color: snow;
    text-shadow: 1px 1px 2px #3b3b3b;
}

.imgpastel {
    width: 300px;
    height: 300px;
  }

.sabores {
    width: 80%;
    display: grid;
    grid-template-areas: 'titulo titulo titulo'
    'titulo2 titulo2 titulo2';
    grid-template-columns: auto auto auto;
    margin: auto;
    gap: 10px;
  }

.sabores h1 {
    color: #513724;
    text-align: center;
    padding: 25px;
}

.sabores a{ 
    color: #bb1f43;
    font-size: smaller;
}
.sabores a:hover{ color: snow;}

.item1 { grid-area: titulo; }
.item2 { grid-area: titulo2; }

.sabor {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #ee9f9e;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
  }

.adornos {
    width: 80%;
    display: grid;
    grid-template-areas: 'titulo2 titulo2 titulo2';
    grid-template-columns: auto auto auto;
    margin: auto;
    gap: 10px;
  }

.adornos h1 {
    color: #513724;
    text-align: center;
    padding: 25px;
    margin-top: 20px;
}

.adornos a {
    color: #bb1f43;
    font-size: smaller;
}

.adornos a:hover{color: snow;}

.adorno {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #ee9f9e;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

#pedido {
    color: #513724;
    text-align: center;
    padding: 25px;
    margin-top: 20px;
}
  
form {
    width: 100%;
    height: auto;
    background-color: #ee9f9e;
    color: #513724;
    display:flex;
    justify-content: center;
}

.form1, .form2 {
    width: 50%;
    padding: 50px;
}

.form2 a {color:#bb1f43;}
.form2 a:hover {color: snow;}

input[type=text], select, input[list] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 25px;
    box-sizing: border-box;
    display: flex;
  }

footer {
    width: 100%;
    height: 180px;
    background-color: #bb1f43;
    color: snow;
    display: flex;
    align-items: center;
    justify-content: center;
  }

footer h3 {letter-spacing: 5px;}

footer a {
    text-decoration: none;
    color: snow;
}

.f1 img {
    width: 120px;
    height: 120px;
}

.f1, .f2, .f3 {
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.copyright{
    width: 100%;
    height: 30px;
    background-color: #a31637;
    color: snow;
    word-spacing: 2px;
    text-align: center;
    padding-top: 20px;
    font-size: x-small;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.copyright a { 
    color: snow;
    text-decoration: none;
    font-weight: bold;
}

.copyright a:hover { color:#680d22}
